<nav class="navbar navbar-expand bg-dark text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">Deployer</a>
  </div>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
      <form (submit)="querySubmit()">
        <input [(ngModel)]="query" placeholder="What would you like to do?" id="q" name="q" class="form-control" type="text"
        autocomplete="off">
      </form>
      <div *ngIf="selectedAction === null">
        <span>Actions:</span>
        <button *ngFor="let action of currentActions" [disabled]="isPillDisabled(action)" class="btn btn-primary btn-tiny"
          (click)="selectAction(action)">
          {{action}}
        </button>
      </div>
      <div *ngIf="selectedAction !== null">
        <span>Selected Action:</span>
        <button class="btn btn-primary btn-tiny"
                (click)="unSelectAction()">
          {{selectedAction}}
        </button>
      </div>
      <div *ngIf="selectedResource === null">
        <span>Resources:</span>
        <button *ngFor="let resource of currentResources" [disabled]="isPillDisabled(resource)" class="btn btn-secondary btn-tiny"
          (click)="selectResource(resource)">
          {{resource}}
        </button>
      </div>
      <div *ngIf="selectedResource !== null">
        <span>Selected Resource:</span>
        <button class="btn btn-secondary btn-tiny"
                (click)="unSelectResource()">
          {{selectedResource}}
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
